models/checkpoint/mask_rcnn_r101_fpn_2x_coco_bbox_mAP-0.408__segm_mAP-0.366_20200505_071027-14b391c7.pth filter=lfs diff=lfs merge=lfs -text
models/mask_rcnn_epoch_12.pth filter=lfs diff=lfs merge=lfs -text
models/mask_rcnn_epoch_24.pth filter=lfs diff=lfs merge=lfs -text
